# Ignore everything by default
*
RAG_TECHNIQUES/*

# Allow only specific file types
!*RAG_TECHNIQUES/*.py
!*.py
!*.md
!*.txt
!*.ipynb
!*jpeg
!*svg
!*.png
!LICENSE
!*.gif
!all_rag_techniques
!data
!evaluation
!images
!*.yml
!.github
!.github/workflows

# remove specific files
__pycache__/
__init__.py

